@import '../../../theme-variables.scss';

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: $table-bg;
  color: $table-text-color;

  thead {
    background-color: $table-header-bg;
    color: $table-header-text-color;
  }

  tbody {
    tr.positive {
      background-color: $positive-bg;
    }
    tr.negative {
      background-color: $negative-bg;
      color: $negative-text-color;
    }
  }

  th,
  td {
    padding: 10px;
    border: 1px solid $table-border;
  }
}
