<nav class="navbar flex-grow-1">
  <img
    src="assets/tennis-ball.svg"
    alt="My Happy SVG"
    style="height: 32px; width: 32px; color: white"
  />
  <ul class="navbar-nav mb-auto w-100 mt-2">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>
