<div class="p-4">
  <div class="h-100">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <h4>Highlighted Matches</h4>
          </div>
        </div>
        <div *ngIf="loading">Loading data...</div>
        <div *ngIf="!loading">
          <!-- Tabs Section -->
          <ul class="nav nav-tabs mt-4">
            <li
              class="nav-item"
              *ngFor="let match of highlightedMatches$ | async; let i = index"
              role="button"
            >
              <a
                class="nav-link"
                [ngClass]="{ active: selectedTab === i }"
                (click)="selectTab(i)"
              >
                {{ matchesService.getMatchTabHeader(match) }}
              </a>
            </li>
          </ul>

          <!-- Tab Content Section -->
          <div
            class="tab-content mt-3"
            *ngIf="highlightedMatches$ | async as highlightedMatches"
          >
            <div
              class="tab-pane fade show active"
              *ngFor="let highlightedMatch of highlightedMatches; let i = index"
              [ngClass]="{ active: selectedTab === i }"
            >
              <ng-container
                *ngIf="
                  { match: matchesData[highlightedMatches[i].id] };
                  let sofascoreData
                "
              >
                <ng-container *ngIf="sofascoreData.match"
                  ><h5>Match Details</h5>
                  <div class="row">
                    <div class="col">
                      <button
                        class="btn btn-primary me-2"
                        (click)="handleFetchElo(highlightedMatch)"
                      >
                        Fetch ELO
                      </button>
                      <button
                        class="btn btn-primary me-2"
                        (click)="calcProbs(highlightedMatch)"
                      >
                        Calculate probabilities
                      </button>
                      <button
                        class="btn btn-primary"
                        (click)="toggleChangeEloModal(highlightedMatch)"
                      >
                        Change ELO
                      </button>
                    </div>
                    <div class="col-12 mb-3">
                      <h6>Tournament</h6>
                      <p>
                        <strong>Name:</strong>
                        {{ sofascoreData.match.tournament.name }}
                      </p>
                    </div>
                    <div class="col-12 mb-3">
                      <h6>Teams</h6>
                      <div class="d-flex justify-content-between">
                        <div class="team-card">
                          <h6>Home Team</h6>
                          <p>
                            <strong>Name:</strong>
                            {{ sofascoreData.match.homeTeam.name }}
                          </p>
                          <p>
                            <strong>Ranking:</strong>
                            {{ sofascoreData.match.homeTeam.ranking }}
                          </p>
                          <p>
                            <strong>Elo:</strong>
                            {{
                              findPlayer(
                                sofascoreData.match.homeTeam,
                                highlightedMatch
                              )?.elo ?? 'Unknown'
                            }}
                          </p>
                          <p>
                            <strong>Odds:</strong>
                            {{
                              findPlayer(
                                sofascoreData.match.homeTeam,
                                highlightedMatch
                              )?.startingOdds
                            }}
                          </p>
                        </div>
                        <div class="team-card">
                          <h6>Away Team</h6>
                          <p>
                            <strong>Name:</strong>
                            {{ sofascoreData.match.awayTeam.name }}
                          </p>
                          <p>
                            <strong>Ranking:</strong>
                            {{ sofascoreData.match.awayTeam.ranking }}
                          </p>
                          <p>
                            <strong>Elo:</strong>
                            {{
                              findPlayer(
                                sofascoreData.match.awayTeam,
                                highlightedMatch
                              )?.elo ?? 'Unknown'
                            }}
                          </p>
                          <strong>Odds:</strong>
                          {{
                            findPlayer(
                              sofascoreData.match.awayTeam,
                              highlightedMatch
                            )?.startingOdds
                          }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <h5>My bets</h5>

                  <app-bet-details [match]="highlightedMatch"></app-bet-details>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
