@import '../../../theme-variables.scss';

.nav-tabs .nav-link.active {
  background-color: lighten($surface-color, 10%);
  color: $text-primary-color;
}

.nav-tabs .nav-link {
  color: $secondary-color;
  color: $text-primary-color;
}

.tab-content {
  border: 1px solid #dee2e6;
  padding: 1rem;
  background-color: lighten($surface-color, 10%);
}

.team-card {
  background-color: lighten($surface-color, 10%);
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-radius: 0.25rem;
}

h6 {
  font-weight: bold;
  margin-top: 1rem;
}

p {
  margin-bottom: 0.5rem;
}
