<div class="py-3 px-5">
  <div class="row">
    <div class="card m-2 col">
      <div class="card-body"><app-add-match></app-add-match></div>
    </div>
    <div class="card m-2 col-4">
      <div class="card-body"><app-bet-entry></app-bet-entry></div>
    </div>
  </div>
  <div class="row">
    <div class="card m-2 col">
      <div class="card-body"><app-matches-list></app-matches-list></div>
    </div>
  </div>
  <div class="row">
    <div class="card m-2 col">
      <div class="card-body">
        <app-bet-details-table></app-bet-details-table>
      </div>
    </div>
  </div>
</div>
