@import '../../../theme-variables.scss';

.bet-card {
  background-color: $card-bg;
  border: 1px solid $card-border;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  color: $card-body-color;

  .bet-header {
    background-color: $card-header-bg;
    padding: 0.5rem;
    border-bottom: 1px solid $card-border;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .player-name {
      font-size: 1rem;
      color: $card-header-color;
    }

    .starting-odds {
      color: $text-muted-color;
    }
  }

  .bet-body {
    padding: 0.5rem;
    p {
      margin: 0.25rem 0;
    }
  }

  .bet-footer {
    background-color: $card-footer-bg;
    padding: 0.5rem;
    border-top: 1px solid $card-border;
    display: flex;
    justify-content: space-between;
    small {
      color: $card-footer-color;
    }
  }
}
