$card-bg: #393053;
$card-border: #18122b;
$card-header-bg: #18122b;
$card-header-color: #ecf0f1;
$card-body-color: #ecf0f1;
$card-footer-bg: #443c68;
$card-footer-color: #ecf0f1;
$primary-color: #635985;
$secondary-color: #443c68;
$text-muted-color: #95a5a6;

body {
  width: 100vw;
  height: 100vh;
  background-color: #18122b;
}

.card {
  background-color: $card-bg;
  border: 1px solid $card-border;

  .card-header {
    background-color: $card-header-bg !important;
    color: $card-header-color !important;
    border-bottom: 1px solid $card-border !important;
  }

  .card-body {
    & {
      color: $card-body-color;
    }

    & input {
      background-color: #635985 !important;
      color: white !important;
      border: $card-border !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: #635985 5000s ease-in-out 0s !important;
    }

    & input::placeholder {
      color: $text-muted-color;
    }
  }

  .card-footer {
    background-color: $card-footer-bg !important;
    color: $card-footer-color !important;
    border-top: 1px solid $card-border !important;
  }

  .text-muted {
    color: $text-muted-color !important;
  }

  .btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      background-color: darken($primary-color, 10%);
      border-color: darken($primary-color, 10%);
    }
  }

  .btn-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    &:hover {
      background-color: darken($secondary-color, 10%);
      border-color: darken($secondary-color, 10%);
    }
  }
}

.navbar {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-brand {
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2rem;
  }

  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;

    .nav-item {
      display: flex;
      margin-right: 1rem;
      width: 100%;
      justify-content: center;

      .nav-link {
        color: #fff;
        text-decoration: none;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s ease;
        width: 100%;
        text-align: center;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}
// Custom styles for ngbDropdown
.ngb-dropup,
.dropup {
  .dropdown-menu {
    background-color: $card-bg;
    border: 1px solid $card-border;
    color: $card-body-color;

    .dropdown-item {
      color: $card-body-color;

      &:hover,
      &:focus {
        background-color: darken($card-bg, 10%);
        color: $card-header-color;
      }

      &:active {
        background-color: darken($primary-color, 10%);
        color: $card-header-color;
      }

      &.disabled,
      &:disabled {
        color: $text-muted-color;
        background-color: $card-bg;
      }
    }
  }

  .dropdown-toggle {
    background-color: $primary-color;
    color: $card-header-color;
    border: 1px solid $card-border;

    &:hover,
    &:focus {
      background-color: darken($primary-color, 10%);
      color: $card-header-color;
    }

    &.disabled,
    &:disabled {
      background-color: $text-muted-color;
      color: $card-body-color;
      border-color: $card-border;
    }
  }
}

// Custom styles for ngbDropdownMenu
.ngb-dropdown-menu,
.dropdown-menu {
  background-color: $card-bg;
  border: 1px solid $card-border;
  color: $card-body-color;

  .dropdown-item {
    color: $card-body-color;

    &:hover,
    &:focus {
      background-color: darken($card-bg, 10%);
      color: $card-header-color;
    }

    &:active {
      background-color: darken($primary-color, 10%);
      color: $card-header-color;
    }

    &.disabled,
    &:disabled {
      color: $text-muted-color;
      background-color: $card-bg;
    }
  }
}
