$card-bg: #393053;
$card-border: #18122b;
$card-header-bg: #18122b;
$card-header-color: #ecf0f1;
$card-body-color: #ecf0f1;
$card-footer-bg: #443c68;
$card-footer-color: #ecf0f1;
$primary-color: #635985;
$secondary-color: #443c68;
$text-muted-color: #95a5a6;
